@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: nicer default font rendering */
html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
